<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="itemName">Name</label>  
          <input type="text" id="itemName" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
            <label for="itemAmount">Anzahl</label>  
            <input type="text" id="itemAmount" class="form-control">
          </div>        
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success">Hinzufügen</button>
          <button class="btn btn-danger">Löschen</button>
          <button class="btn btn-primary">Zurücksetzen</button>
        </div>
      </div>
    </form>
  </div>
</div>
