<header>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#">Rezeptbuch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Einkaufsliste</a>
    </li>
    <li>
      <div class="dropdown" appDropdown>
        <button 
          id="dLabel" 
          type="button"  
          aria-haspopup="true" 
          aria-expanded="false"
          class="btn btn-primary">
          Dropdown trigger
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="#">Speichern</a></li>
          <li><a href="#">Laden</a></li>
        </div>
      </div>      
    </li>
  </ul>
</header>
<hr>